.container {
    transition: all 1s ease-in-out;
    color: blue;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
    -webkit-box-shadow: 0px 9px 45px -17px rgba(0,0,0,0.68);
    -moz-box-shadow: 0px 9px 45px -17px rgba(0,0,0,0.68);
    box-shadow: 0px 9px 45px -17px rgba(0,0,0,0.68);
}